.categoryWrapper{
  width: 100vw;
  height: 15vh;
  padding:20px;
  display: flex;
justify-content:space-between;
align-items: center;
}
.categoryItem{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    width: 25vw;
    height: 10vh;
    color: white;
    background-color: rgb(135, 135, 252);
    margin-left: 5px;
    border-radius: 3px;
}