.app {
  width: 100vw;
  height: 100vh;
  
}
.plusIcon{
  position: fixed;
  font-size: 2.5em;
 top:85vh;
 display: flex;
margin-left: 80vw;

  color:green;
  
 
}
.closeIcon{
  position: fixed;
  font-size: 2.8em;
 top:85vh;
 display: flex;
margin-left: 80vw;

  color:red;
  
 
}
.iconnone{
  display: none;
}

.loginForm{
  width: 100vw;
  height: 80vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputPlace{
  width: 70vw;
  height: 10vh;
  margin-top:5vh;
  font-size:1.2em;
  padding:2vh 3vw;
  border: solid 1px rgb(127, 127, 247);
  background-color: white;
  outline: none;
 
}
.inputPlaceButton{
  width: 60vw;
  height: 10vh;
  margin-top:5vh;
  font-size:1.2em;
  padding:2vh 3vw;
  border: none;
  border-radius: 30px;
  background-color: rgb(105, 107, 248);
  box-shadow: 4px 12px 19px 3px rgb(192, 192, 192);
  color: white;
  font-weight: 600;
  outline: none;
}
.iconnone{
  display: none;
}
h4{
  margin-top: 7vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.alertModal{
  width: 80vw;
  height: 60vh;
  margin-top: 18vh;
  margin-left: 10vw;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: solid 3px red;
  position: fixed;
  box-shadow: 5px 5px 20px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alertModal h1{
  font-family: 'Roboto', sans-serif;
  color: red;
  margin-bottom: 5vh;
}
.alertModal h3{
  font-family: 'Roboto', sans-serif;
  color: red;
}
.alertModal button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 8vh;
  margin-top:10vh;
  font-size:1.2em;
 outline: none;
  border: none;
  border-radius: 30px;
  background-color: rgb(248, 105, 105);
  box-shadow: 4px 12px 19px 3px rgb(192, 192, 192);
  color: white;
  font-weight: 600;
}

.alerModalNone{
display: none;
}
.getPanel{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
