@import url('https://fonts.googleapis.com/css?family=Mali:400,500,600,700|Roboto:300,400,500,700,900&display=swap&subset=latin-ext');
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
body{
  position: absolute;
 width: 100vw;
 height: 100vh;
}

